.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 50px;
    right: 100px;
    gap: 4px;
}

@media screen and (max-width: 768px) {
    .pin-bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        gap: 4px;
    }
}